SUB2API_BASE_URL=https://g7e6ai.com/api/v1
IMAGE_API_URL=https://g7e6ai.com/v1/images/generations
IMAGE_EDIT_API_URL=https://g7e6ai.com/v1/images/edits
IMAGE_EDIT_FIELD_NAME=image[]
IMAGE_API_KEY=sk-xxx
REQUEST_TIMEOUT_SECONDS=360
CORS_ORIGINS=["http://localhost:5173"]
